<div class="page-header">
  <h3>User Like #<%= @user_like.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Venue</dt>
      <dd>
        <% if @user_like.venue.present? %>
          <a href="/venues/<%= @user_like.venue_id %>">
            <%= @user_like.venue.name %>
          </a>
        <% end %>
      </dd>

      <dt>Dish</dt>
      <dd>
        <% if @user_like.dish.present? %>
          <a href="/dishes/<%= @user_like.dish_id %>">
            <%= @user_like.dish.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_likes" class="btn btn-primary">
        Back
      </a>
      <a href="/user_likes/<%= @user_like.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user_like/<%= @user_like.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
